.phandau {
  background-color:#E8E8E8;
  text-align: center;
  padding: 30px; 
  font-size: 50px;
  }
a{
background-color: ;
color:black;
text-decoration: none;
 }

.box:hover {
  background-color: #E8E8E8;;
  font-size: 20px;
}
.noidung{}
.gioithieu{
  background-color: #40E0D0;
}
.box{
  margin:10px;
  padding: 20px;
}
