.phandau {
  background-color:#BA0000;
  text-align: center;
  padding: 30px; 
  font-size: 50px;
  }
a{
background-color: ;
color:#D9D9D9;
text-decoration: none;
 }

.box:hover {
  background-color:;
  font-size: 20px;
}
.noidung{}
.gioithieu{
  background-color: #40E0D0;
}
.box{
  margin:10px;
  padding: 20px;
}
